In [29]:
import pandas as pd

df = pd.read_excel("data5.xlsx", sheet_name=1, index_col='state_name', na_values='..')

# оставляем страны, по которым есть полные данные с 2003 по 2022
df = df.groupby('state_name').filter(lambda x: x['year'].min() <= 2002 and x['year'].max() >= 2022)

# удаляем чрезмерно экономически развитые страны (выбросы)
df = df.drop(['Bahrain', 'Kuwait', 'Oman', 'Qatar', 'Saudi Arabia', 'Trinidad and Tobago', 
              'United Arab Emirates', 'Chile', 'Croatia', 'Hungary', 'Poland', 'Uruguay', 'Equatorial Guinea'])

# удаляем Океанию
df = df[df['region'] != 7]

In [30]:
imf_duration = df.groupby('state_name')['imf_pr'].agg('sum')

In [31]:
regions = df.groupby('state_name')['region'].agg('mean')
regions = regions.replace({1.0: 'LACB', 2.0: 'Africa', 3.0: 'Middle East', 4.0: 'Europe', 5.0: 'Ex-USSR', 6.0: 'Far East and ACEAN'})

In [32]:
imf_duration_and_regions = pd.concat([imf_duration, regions], axis=1)

In [44]:
imf_duration_and_regions

            imf_pr              region
state_name
Albania         12              Europe
Algeria          0         Middle East
Argentina        9                LACB
Armenia         20             Ex-USSR
Azerbaijan       4             Ex-USSR
...            ...                 ...
Uzbekistan       0             Ex-USSR
Venezuela        0                LACB
Viet Nam         3  Far East and ACEAN
Zambia          11              Africa
Zimbabwe         0              Africa

[87 rows x 2 columns]